#welcome-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #0c010f, #1b0033, #090014, #1c0824);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    z-index: 1000;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.welcome-text {
    font-size: 3rem;
    color: #fff;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid white;
    margin-top: 75px;
    opacity: 0;
    animation: bounce 1s infinite;
    transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
from {
    opacity: 0;
    transform: translateY(20px);
}

to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes bounce {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(10px);
}
}

body {
    padding-top: 100vh; /* Add this to push content below the welcome page */
}

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease, background-color 0.2s;
}

.cursor.hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%) scale(1.5);
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(-45deg, #0c010f, #1b0033, #090014, #1c0824);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.fixed-left {
    position: fixed;
    width: 40%;
    height: 100vh;
    background: transparent;
    color: #ecf0f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    margin-top: 95px;
}

.fixed-left h1 {
    font-size: 3rem;
    color: #9209dc;
    margin-bottom: 20px;
    padding-left: 35px;
}

.fixed-left h2 {
    font-size: 1rem;
    margin-bottom: 20px;
}

.fixed-left h3{
    font-size: 23px;
    padding-left: 35px;
}

.fixed-left nav {
    margin-top: 40px;
    padding-left: 35px;
    padding-bottom: 10px;
}

.fixed-left nav a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 1.2rem;
    margin: 10px 0;
    transition: color 0.3s, background-color 0.3s ease;
    width: 50%;
}

.fixed-left nav a:hover {
    color: #9209dc;
}

.scrollable-right {
    margin-left: 40%;
    width: 60%;
    padding: 50px;
    background-color: transparent;
    overflow-y: auto;
}

@media (max-width: 768px) {
.fixed-left {
    display: none;
}
.scrollable-right {
    margin-left: 0;
    width: 100%;
}
}

section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

section p, ul {
    font-size: 1.2rem;
    color: white;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea, .contact-form button {
    font-size: 1rem;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.contact-form button {
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #2980b9;
}

.typewriter h2 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .18em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    padding-left: 35px; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
        typing 1.8s steps(20, end),
        blink-caret .8s step-end infinite;
    width: 335px; /* Initial width of the text container */
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 75% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}
#exp{
    justify-items: center;
}

#experience ul {
    font-size: 15px;
}

.work{
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 20px 50px;
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 10px;
    width: 90%;
    
}

.work:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    box-shadow: 0.3em 0.3em 1em rgb(0, 0, 0);
}

.work-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.work-date,
.work-location {
    font-size: 0.9rem;
    color: #ffffff;
}

.work-date {
    font-weight: bold;
}

.work-location {
    font-style: italic;
}

.work-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #9209dc; /* Dark purple */
}

.work-company {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.work-description {
    font-size: 1rem;
    color: #bcbcbc;
    margin-bottom: 15px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #9209dc;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transition: opacity 0.3s;
}


.back-to-top.show {
    opacity: .85;
}

.footer {
    background-color: #2c3e50; /* Dark background */
    color: #ecf0f1; /* Light text color */
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-link {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 14px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #3498db; /* Highlight color on hover */
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        margin-top: 10px;
    }
}

.skills {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* space between bubbles */
    justify-content: center;
}

.skill-bubble {
    background-color: #421170; /* light purple for the background */
    color: orange; /* dark indigo/purple for the text */
    padding: 8px 15px;
    border-radius: 25px; /* rounded edges */
    font-size: .8rem; 
    text-align: center;
    font-weight: 500; /* slightly bolder text */
    transition: all 0.3s ease;
    cursor: pointer;
}

.skill-bubble:hover {
    background-color: #8a2be2; /* bright purple for hover */
    color: #fff; /* white text on hover */
    box-shadow: 0 4px 8px rgba(138, 43, 226, 0.4); /* subtle purple shadow */
    transform: translateY(-2px); /* slight upward movement on hover */
}

.skill-bubble:active {
    transform: translateY(1px); /* simulate button press effect */
}

.overlay-image {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40%;
    height: auto; 
    object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    opacity: 0.6; /* Adjust transparency here */
    pointer-events: none; /* Ensures clicks pass through to underlying content */
    z-index: 1; /* Ensure the image is layered below the content */
}

.resume-download {
    display: block;
    color: #8a2be2;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: .6rem;
    margin: 10px 0;
    transition: color 0.2s, background-color 0.2s ease;
    width:150px;
    padding-left: 35px;
}

.resume-download:hover {
    color: #ffffff;
}

.profile-area {
    
    right: 40px; 
    text-align: right;
    padding-right: 35px;
    
}

.profile-pic {
    width: 200px; 
    height: auto; 
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 8%;
    object-fit: cover;
    margin-left: 20px;
}